*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}
.mobile-only{
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", serif;

}
#hidden-menu{
    display: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    background-color: inherit;
    height: auto;
    width: 300px;
    top: 100px;
}
.upper-arrow{
    width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  position: absolute;
  top: -50px;
  left: 250px;
  border-bottom: 25px solid white;
}
#hidden-menu>ul{
    background-color: white;
    list-style: none;
    padding: 20px;
}
#hidden-menu>ul>li{
    padding: 12px 0;
    font-size: large;
    font-weight: 600;
    color: hsl(168, 34%, 41%);
}
#contact-button-mobile{
    color:black; 
    padding: 10px 20px; 
    background-color: yellow; 
    border-radius: 20px; 
    text-transform: uppercase; 
    font-family: 'Fraunces', serif; 
    text-decoration: none; 
    font-weight: 700;
}
body{
    width: 100vw;
    min-height: 100vh;
    /* overflow: hidden; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: calc(100vw);
}
.navbar-brand{
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    font-weight: 800;
}
.nav-items{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-items>li{
    padding: 0 20px;
}
#expand-menu{
    background: inherit;
    color: white;
}
#contact-button{
    color:black; 
    padding: 10px 20px; 
    background-color: white; 
    border-radius: 20px; 
    text-transform: uppercase; 
    font-family: 'Fraunces', serif; 
    text-decoration: none; 
    font-weight: 700;
}
#contact-button:hover{
    background-color: #6fcfff;
    color: white;
}

.header{
    width: 100%;
    color: white;
    /* border: solid; */
    background-image:  url('./images/desktop/image-header.jpg');
    background-size: 100%;
    height: 55vw;
    overflow: hidden;
}
#desktop-header{
    width: 100%;
    position: relative;
}
#pointer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.title{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}
.row{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: larger;
}
.float-text{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 0 100px;
}
.float-text>h1{
    font-size: 2.5rem;
    margin-bottom: 10%;
}
.float-text>p{
    margin-bottom: 10%;
}
.float-text>a{
    color: black;
    text-decoration: none;
}
.underline{
    height: 12px;
    width: 132px;
    border-radius: 6px;
    
    position: relative;
    opacity: 50%;
    bottom: 8px;
}
#underline1{
    background-color: hsl(51, 100%, 49%);
}
.float-text>a:hover .underline{
    opacity:80%;
}
#underline2{
    background-color: hsl(7, 99%, 70%);
}

.float-image>img{
    width: 100%;
    height: 100%;
}
.float-image>div{
    position: relative;
    bottom: 40%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.float-image>div>h1{
    margin-bottom: 30px;
}
.float-image>div>p{
    line-height: 30px;
}
.testimonial-section{
    padding: 100px 30px;
    text-align: center;
}
.testimonials{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.testimonial-card{
    text-align: center;
    padding: 50px 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-image{
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}
.testimonial-image>img{
    height: 100px;
    width: 100px;
}
.testimonial-text{
    font-size: larger;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 50px;
    color: hsl(232, 10%, 55%);
}
.testimonial-author{
    color: hsl(232, 10%, 55%);
    font-weight: 700;
}
.testimonial-author>h3{
    font-size: 1.5rem;
    color: hsl(212, 27%, 19%);
    margin-bottom: 20px;
}
.images-section{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.images-section>img{
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    color: #448b7b;
    background-color: rgba(145,212,196,255);
}
.footer>h1{
    margin-bottom: 40px;
    font-weight: 900;
}
.footer>p>a{
    color: inherit;
    text-decoration: none;
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer>p>a:hover{
    color: white;
}
.footer>p{
    margin-bottom: 50px;
}
.footer>span>svg{
    margin: 20px;
    cursor: pointer;
}
.footer>span>svg:hover{
    color: white;
}
@media screen and (max-width: 1200px) {
    #pointer{
        margin-top: 10%;
    }
    .title{
        font-size: 2.7rem;
    }
}
@media screen and (max-width: 950px) {
    #pointer{
        margin-top: 7%;
    }
    .title{
        font-size: 2.5rem;
    }
    .row{
        font-size: large;
    }
    .float-text{
        padding: 0 10%;
    }
    .float-image>div{
        margin: 0;
        width: auto;
    }
    .testimonial-text{
        font-size: large;
    }
    .testimonial-card{
        width: 33%;
    }
}
@media screen and (max-width: 700px) {
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }
    .header{
        width: 100%;
        color: white;
        /* border: solid; */
        background-image:  url('./images/mobile/image-header.jpg');
        background-size: 100%;
        height: 143vw;
        overflow: hidden;
        text-align: center;
    }
    #pointer{
        margin-top: 15%;
    }
    .title{
        width: 375px;
    }
    #pointer>img{
        margin-top: 50px;
        height: 150px ;
    }
    .row{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: medium;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .float-image{
        height: 100vw;
    } 
    .float-image>div>p{
        line-height: 25px;
        padding: 0 10px;
    }
    .float-text{
        height: 100vw;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .testimonial-card{
        width: 100%;
    }
    .images-section-m{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
    .images-section-m>img{
        width: 50vw;
    }
}